<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="4094"/>
    <webServices>
      <soapEnvelopeProcessing></soapEnvelopeProcessing>
    </webServices>
  </system.web>
  <system.serviceModel>

    <services>
      <service name="ChefService.WebService.ChefWebService" behaviorConfiguration="MyServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090/ChefService"/>
          </baseAddresses>
        </host>

        <endpoint address="c" binding="basicHttpBinding" bindingConfiguration="MySvcBinding" contract="ChefService.WebService.IChefWebService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

      </service>
    </services>


    <bindings>
      <basicHttpBinding>
        <binding name="MySvcBinding" transferMode="Buffered" openTimeout="04:00:00" closeTimeout="04:00:00" sendTimeout="04:00:00" receiveTimeout="04:00:00" maxBufferSize="65536" maxReceivedMessageSize="65536" messageEncoding="Text">
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>

      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>    
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
