<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IChefWebService" 
                 maxReceivedMessageSize="2147483647" 
                 transferMode="Buffered"
                 openTimeout="04:00:00"
                 closeTimeout="04:00:00"
                 sendTimeout="04:00:00"
                 receiveTimeout="04:00:00"
                 maxBufferSize="2147483647" 
                 messageEncoding="Text"
				 >
                  <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9090/ChefService/c" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IChefWebService" contract="ChefWebService.IChefWebService"
        name="BasicHttpBinding_IChefWebService" />
    </client>
  </system.serviceModel>
</configuration>
